{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block page_content %}
<div class="interactive-wrapper">
  <div class="interactive-content">
    <div class="box intro">
      <div class="row">
          <div class="col-8">
              <h1 class="htext peach-red title">hello world!</h1>
          </div>
        <div class="col">
          <div class="img-pop">
            <!-- front class: necessary for position of box -->
            <div class="img-pop front">
              <img src="{% static 'img/Malika.jpg'%}" alt="">
              <div class="img-pop back bg oly-blue"></div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <h3 class="htext peach-red subtitle"><b>My name is Malika.</b></h3>
      <div class="p-container">
        <p class="ptext peach-red p">I'm a software engineer who's always aiming to think outside of the box!</p>
        <p class="ptext peach-red p">I enjoy developing interactive experiences.<br>Explore my skills below!</p>
      </div>

      <div class="row explore">
        <div class="col-sm explore"> <div class="shown circle bg sky-blue"> </div></div>
        <div class="col-sm explore"> <div class="shown circle bg peach-red"></div></div>
        <div class="col-sm explore"> <div class="shown circle bg oly-blue"> </div></div>
      </div>
    </div> <!-- end Intro box -->

    <div class="box fullstack bg sky-blue">
      <div class="row">
          <div class="col-8">
              <h1 class="htext peach-red title">hello world!</h1>
          </div>
        <div class="col">
          <div class="img-pop">
            <!-- front: no styling, necessary for position of box -->
            <div class="img-pop front">
              <img src="{% static 'img/Malika.jpg'%}" alt="">
              <div class="img-pop back bg oly-blue"></div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <h3 class="htext peach-red subtitle"><b>My name is Malika.</b></h3>
      <div class="p-container">
        <p class="ptext peach-red p">I'm a software engineer who's always aiming to think outside of the box!</p>
        <p class="ptext peach-red p">I enjoy developing interactive experiences.<br>Explore my skills below!</p>
      </div>

      <div class="row explore">
        <div class="col-sm explore"> <div class="shown circle bg sky-blue"> </div></div>
        <div class="col-sm explore"> <div class="shown circle bg peach-red"></div></div>
        <div class="col-sm explore"> <div class="shown circle bg oly-blue"> </div></div>
      </div>
    </div> <!-- end fullstack box -->

  </div> <!-- end interactive content -->

  <div class="activities">
      <h3 class="htext peach-red subtitle">When I'm not coding... you can find me doing:</h3>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}
