
.interactive-wrapper {
  margin-top: 100px;
}


.interactive-content {
  position: relative;
}

.box {
  border: 2px solid #54A2D1;
  /* center aligns the boxes with absolute positioning
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  */
}

.img-pop { /* default: position absolute */
  width: 200px;
  top: -50px;
  right: -20px;
}

.title {
  font-size: 54px;
  margin: 0px;
  line-height: 54px;
}

.subtitle {
  font-size: 24px;
}
.p-container {
}

.p {
  font-size: 18px;
}

.col-sm.explore {
  padding: 10px;
  width: 33.3333%;
  height: 33.3333%;
}

.shown.circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.box.fullstack {
  cursor: pointer;
  clip-path: circle( 5% at 18% 78%);
  opacity: 0%;
  /* Hover off*/
  transition: clip-path .5s ease-out, opacity .5s .5s; /* delay opacity transition*/
}

.box.fullstack:hover { /* must always follow preceding element*/
  opacity: 100%;
  clip-path: circle(75%);
  /*Hover on */
  transition: clip-path .5s ease-in;
}


@media only screen and (max-width: 768px) {
  /* make image smaller on mobile devices */
  .img-pop {
    width: 175px;
    right: -16px;
  }
}
